html, body{
    height: 100%;
    width: 100%;
}
.navbar{
    background-color: rgb(110, 36, 57);
    padding-bottom: 5px;
    font-size: 1.2em;
    border: rgb(110, 36, 57);
}

.navbar-brand{
    min-height: 55px;
    font-family: "Satisfy";
    color: #D5D5D5;
}


.navbar-default .navbar-brand {
    color: #c48430;
}

.navbar-default .navbar-nav li a{
    color: #D5D5D5;
 
}

.navbar-nav li a{
    vertical-align: middle;
    text-align: center;
    bottom: 30px;
    right: 20px;
}

.navbar-nav{
    
    margin-bottom: -40px;
    padding-top: 10px;
}

.navbar-default .navbar-nav li a:hover{
    color: #c48430;
}

.home {
    background-image: url('img/background1.jpg');
    display: table;
 	top: 0;
 	left: 0;
 	width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
	-webkit-transform: translateZ(0);
    transform: translateZ(0);
	will-change: transform;
	z-index: -1;
}

.landing-text {   
    display: table;
    position: relative;
    background-color: rgb(255, 255, 255, 0.5);
	z-index: 100;
	display: table-cell;
	text-align: center;
    vertical-align: middle;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
	-webkit-transform: translateZ(0);
    transform: translateZ(0);
	will-change: transform;
    z-index: -1;
}

.landing-text h1{
    color: rgb(110, 36, 57);
    font-size: 500%;
    font-size: 700; 
    font-family: 'Satisfy';
    padding-top: 10px;
}
.landing-text h3{
    color: rgb(0, 0, 0);
    
}

.btn-default{
    background-color: rgb(224, 94, 18);
    color: black;
    border: #e0741a;
    font-style: inherit;
}

.padding{
    padding: 80px 0;
}
.padding h2{
    color: rgb(110, 36, 57);
}
.padding img{
    width: 100%;
}

.home-orga{
    background-image: url('img/backgound2.jpg');
    display: table;
 	top: 0;
 	left: 0;
 	width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
	-webkit-transform: translateZ(0);
    transform: translateZ(0);
	will-change: transform;
	z-index: -1; 
}

.padding-orga{
    padding: 80px;
}

.padding-orga h2{
    color: #FFF;
}
.padding-orga p{
    color: rgb(212, 212, 212);
    font-family: sans-serif;
    font-size: 22px;
}

.col-lg-12{
    background-color: rgb(0, 0, 0, 0.4);
    border-radius: 10px;
    margin-top: 40px;
    padding-bottom: 5px;
}

.home-donation{
    background-image: url('img/donation.jpg');
    display: table;
 	top: 0;
 	left: 0;
 	width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
	-webkit-transform: translateZ(0);
    transform: translateZ(0);
	will-change: transform;
	z-index: -1;
}

.home-donation .col-lg-12{
    background-color: rgba(1, 10, 2, 0.7);
    border-radius: 10px;
    margin-top: 40px;
    padding-bottom: 5px;
}

.container-fulid .col-sm-12{
    margin-bottom: 40px;
    padding-bottom: 5px;
}

.home-donation p{
    font-size: 15px;
}

.home-volunteer{
    background-image: url('img/volunteer.png');
    display: table;
 	top: 0;
 	left: 0;
 	width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
	-webkit-transform: translateZ(0);
    transform: translateZ(0);
	will-change: transform;
	z-index: -1;
}

.home-volunteer h2{
    color: #c48430;
    padding: 30px;
}

.home-volunteer h5{
    font-size: 20px;
}


.home-volunteer .col-lg-12{
    background-color: rgb(255, 255, 255, 0.2);
    border-radius: 10px;
    margin-top: 60px;
    padding-bottom: 5px;
}

.home-news{
    background-image: url('img/backgound1.jpg');
    display: table;
 	top: 0;
 	left: 0;
 	width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
	-webkit-transform: translateZ(0);
    transform: translateZ(0);
	will-change: transform;
	z-index: -1;
}


#fixed{
    background: url(img/background1.jpg) no-repeat center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
}

.home-admin{
    background-image: url('img/background1.jpg');
    display: table;
 	top: 0;
 	left: 0;
 	width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
	-webkit-transform: translateZ(0);
    transform: translateZ(0);
	will-change: transform;
	z-index: -1;
}

.home-admin form{
    background-color: rgb(0, 0, 0, 0.6);
    border: 10px;
    border-radius: 10px;
    display: inline-block;
    padding: 60px;
}

.login_form input{
    width: 300px;
    height: 50px;
    border-radius: 10px; 
    text-align: center;
}

.login_form p{
    color: #FFF;
    font-size: 50px;
    font-family: sans-serif;
}

.admin-news{
    background-image: url('img/background1.jpg');
    display: table;
 	top: 0;
 	left: 0;
 	width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
	-webkit-transform: translateZ(0);
    transform: translateZ(0);
	will-change: transform;
	z-index: -1;
}

.admin-news form{
    background-color: rgb(0, 0, 0, 0.6);
    border: 10px;
    border-radius: 10px;
    display: inline-block;
    padding: 60px;
}

.news_form input{
    width: 300px;
    height: 50px;
    border-radius: 10px; 
    text-align: center;
}

.news_form p{
    color: #FFF;
    font-size: 50px;
    font-family: sans-serif;
}
.news_form textarea{
    width: 500px;
    height: 100px;
    border-radius: 10px;
}

.news_form label{
    color: #FFF;
    font-size: 20px;
}

footer{
    width: 100%;
    background-color: rgb(110, 36, 57);
    padding: 0% 0% 0% 0%;
    text-align: center;
    color: #FFF;
}

.col-sm-3{
    text-align: center;
    vertical-align: middle;
    padding-bottom: 60px;
}
.email{
    color: #FFF;
}

.fa{
    padding: 15px;
    font-size: 25px;
    color: #FFF;
}

.fa:hover{
    color: #D5D5D5;
    text-decoration: none;
}

.icon{
    max-width: 200px;
}

@media (max-width: 768px){
    .landing-text h1{
        font-size: 300%;
    }
    .fa{
        font-size: 20px;
        padding: 10px;
    }
    .navbar-brand img{
        max-width: 120px;
        max-height: 120px;
    }
    .icon{
        padding-top: 5px;
        max-width: 100px;
    }
    .landing-text-orga {
        max-width: 700px;
     }
     .landing-text-orga a{ 
        max-width: 630px;
        font-size: 70%;
     }
    
}